{% if status == "OK" %}
    Sir, in {{city.arg}}, it is {{city.time.hour}} hour and {{city.time.minute}} 
minutes, whereas here, it's {{local.time.hour}} hour and {{local.time.minute}} 
minutes
    Le timezone est {{city.timezonename}} {% else %}
    Sorry sir, but I don't know
{% endif %}
