{% if returncode != 200 %}
    Erreur lors de la récupération des programmes
{% else %}
    Monsieur, en ce moment au cinéma
    {% for g in news: %}
        {{ g['title'] }} : {{ g['content'] }}
    {% endfor %}
{% endif %}

